/*-------------------------
-----Table-Of-Content------
01. Helper-Class
02. Mainmenu-Area
    2.1 DropDown-Menu
03. Header-Area
04. Service-Area
05. About-Area
06. Portfolio-Area
07. Skill-Area
08. Experience-Area
09. Testimonial-Area
10. Contact-Form-Area
11. Preloader-CSS
12. ScrollUpButton
---------------------------
01. Helper-Class
--------------------------*/
.section-padding {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-padding-top {
  padding-top: 120px;
}

.section-padding-bottom {
  padding-bottom: 120px;
}

.upper {
  text-transform: uppercase;
}

.full-wrapper {
  margin: 20px;
  position: relative;
}

.section-title {
  margin-bottom: 60px;
}

.section-title .title {
  font-size: 36px;
  margin-top: -5px;
}

.section-title .desc {
  font-size: 18px;
  font-weight: 600;
}

/* ---------------------
Button-Styles
----------------------- */
.mouse-dir {
  overflow: hidden;
  position: relative;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  z-index: 4;
  margin-bottom: -8px;
}

.mouse-dir .dir-part {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-radius: 50%;
  background: #558bff;
  -webkit-transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
  -o-transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
  transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: -1;
}

.mouse-dir:hover .dir-part {
  width: 260%;
  height: 562.5px;
}

.button-dark {
  display: inline-block;
  width: 170px;
  height: 60px;
  background-color: #190844;
  text-align: center;
  line-height: 60px;
  font-size: 20px;
  color: #ffffff;
  font-weight: 600;
}

.button-dark:hover {
  color: #190844;
}

.button-primary.mouse-dir .dir-part,
.button-dark.mouse-dir .dir-part {
  background-color: #ffffff;
}

.button-orange,
.button-primary {
  display: inline-block;
  color: #ffffff;
  background-color: #558bff;
  padding: 18px 40px;
  border: 1px solid #558bff;
  font-size: 16px;
  font-weight: 600;
}

.button-primary:hover {
  color: #558bff;
}

.load-more,
.button-primary-trans {
  display: inline-block;
  color: #558bff;
  padding: 18px 40px;
  border: 1px solid #558bff;
  font-size: 16px;
  font-weight: 600;
}

.button-primary-trans .icon {
  margin-right: 5px;
  display: inline-block;
}

.load-more:hover,
.button-primary-trans:hover {
  color: #ffffff;
}

.load-more {
  padding: 15px 38px;
}

.load-more i {
  margin-left: 5px;
  font-size: 14px;
}


.button-orange {
  padding: 15px 38px;
  border: 1px solid #ff885e;
  background-color: #ff885e;
}

.button-orange:hover {
  color: #ff885e;
}

.button-orange .dir-part {
  background-color: #ffffff;
}

/*------------------------
02. Mainmenu-Area
--------------------------*/
.mainmenu-area {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  background-color: #ffffff;
  white-space: nowrap;
}

.menu-transparent-box .mainmenu-area {
  background-color: transparent;
  position: fixed;
  left: 0;
  right: 0;
  max-width: 100%;
  margin: auto;
  display: block;
}

.menu-transparent-box .mainmenu-area.affix {
  top: 0;
}

.menu-transparent-box .mainmenu-area .container .navbar-row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 20px 30px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 30px 0 rgba(85, 139, 255, 0.1);
  box-shadow: 0 0 30px 0 rgba(85, 139, 255, 0.1);
}

.primary-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.primary-menu > ul > li {
  display: inline-block;
  position: relative;
  margin-left: -5px;
}

.mainmenu-area #mainmenu ul li > a i.plus {
  position: absolute;
  right: 10px;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  line-height: 12px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  display: block;
}

.mainmenu-area #mainmenu ul li > a i.plus:before,
.mainmenu-area #mainmenu ul li > a i.plus:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 12px;
  height: 2px;
  display: block;
  background-color: rgba(21, 29, 65, 0.3);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.mainmenu-area #mainmenu ul li > a i.plus:before {
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
  -ms-transform: translate(-50%, -50%) rotate(90deg);
  transform: translate(-50%, -50%) rotate(90deg);
}

.mainmenu-area #mainmenu ul li:hover > a i.plus:before {
  -webkit-transform: translate(-50%, -50%) rotate(0deg);
  -ms-transform: translate(-50%, -50%) rotate(0deg);
  transform: translate(-50%, -50%) rotate(0deg);
}

.primary-menu ul li {
  position: relative;
}

.primary-menu ul.nav li a {
  position: relative;
  display: block;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  padding: 15px 30px;
  color: #3a3a3a;
  background: none;
}

.primary-menu ul.nav li a:after {
  content: ".";
}

.primary-menu ul.nav > li > a:before {
  display: none;
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #558bff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.primary-menu ul.nav > li.active > a:before,
.primary-menu ul.nav > li a.right-go:before {
  left: auto;
  right: 0px;
}

.primary-menu ul.nav > li.active > a:before,
.primary-menu ul.nav > li:hover > a.right-go:before {
  width: 100%;
  right: auto;
  left: 0;
}

.primary-menu ul.nav > li:hover > a.left-go:before {
  width: 100%;
  left: auto;
  right: 0;
}

.primary-menu ul.nav > li.current-menu-item > a,
.primary-menu ul.nav > li.active > a,
.primary-menu ul.nav > li:hover > a {
  color: #558bff
}

.mainmenu-area .menu-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
}



/* --------------------
05. About-Area
---------------------- */
.about-image {
  overflow: hidden;
  text-align: center;
  margin-right: 70px;
}

.about-text .title {
  font-size: 36px;
  margin-bottom: 15px;
}

.about-text .sub-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 30px;
}

.about-text .desc {
  margin-bottom: 50px;
}



/* ---------------------------
10. Contact-Form-Area
--------------------------- */
.contact-form {
  margin-top: 2px;
}

.input-box {
  padding: 14px 20px;
  width: 100%;
  background-color: #ffffff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  border: 1px solid #e3e7ea;
  outline: none;
  color: #282828;
}

.input-box:focus {
  -webkit-box-shadow: 16px 16px 32px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 16px 16px 32px 0 rgba(0, 0, 0, 0.05);
  border: 1px solid #282828;
}

.contact-form .input-box {
  line-height: 26px;
}

.contact-form .form-double:after {
  clear: both;
  display: block;
  content: "";
}

.contact-form .form-double .form-box {
  width: calc(50% - 15px);
  float: left;
  margin-right: 30px;
}

.contact-form .form-double .form-box.left {
  margin-right: 0;
}

.form-box {
  position: relative;
  line-height: 0;
}

.form-box button {
  line-height: 26px;
}

.form-box .icon {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 100px;
  color: #e3e7ea;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.contact-form ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #282828;
}

.contact-form ::-moz-placeholder { /* Firefox 19+ */
  color: #282828;
}

.contact-form :-ms-input-placeholder { /* IE 10+ */
  color: #282828;
}

.contact-form :-moz-placeholder { /* Firefox 18- */
  color: #282828;
}

/* ------------------------
12. ScrollUpButton
-------------------------- */
#scrollUp {
  position: fixed;
  right: 2%;
  top: 100%;
  width: 28px;
  height: 60px;
  line-height: 60px;
  font-size: 16px;
  border: 2px solid #558bff;
  color: #558bff;
  text-align: center;
  background-color: #ffffff;
  border-radius: 100px;
  z-index: 999;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

#scrollUp:hover {
  background-color: #558bff;
  color: #ffffff;
}

#scrollUp.active {
  top: calc(100% - 110px)
}

#scrollUp i {
  -webkit-animation: mymove 1s ease-in 0s infinite alternate;
  animation: mymove 1s ease-in 0s infinite alternate;
  display: inline-block;
  position: relative;
}

@-webkit-keyframes mymove {
  from {
    top: -5px;
  }
  to {
    top: 5px;
  }
}

@keyframes mymove {
  from {
    top: -5px;
  }
  to {
    top: 5px;
  }
}

/* ------------------------
13. Portfolio-Page
-------------------------- */
.site-header {
  background-image: url('../images/site-header.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  position: relative;
  z-index: 1;
  padding-top: 220px;
  padding-bottom: 120px;
  overflow: hidden;
}

.site-header .title {
  color: #ffffff;
  font-size: 76px;
}

.site-header .title:before {
  content: ".";
}

.site-header .breadcrumbs ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  text-align: right;
}

.site-header .breadcrumbs ul li {
  display: inline-block;
  font-size: 24px;
  color: #ffffff;
}

.site-header .breadcrumbs ul li:after {
  content: "-";
  margin: 0 30px;
}

.site-header .breadcrumbs ul li:last-child:after {
  display: none;
  margin-right: 0px;
}

.site-header .breadcrumbs ul li a {
  color: #ffffff;
}

.quote-box {
  text-align: center;
  padding: 100px 30px;
  background-color: #fff0dd;
}

.quote-content .title {
  font-size: 36px;
}

.quote-content .desc {
  font-weight: 600;
  margin-bottom: 50px;
}

